<section class="text-center text-white">
  <div class="container py-5">
    <div class="row g-3">
      <div class="col-md-4">
        <h2>LOCATION</h2>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
      <div class="col-md-4">
        <h2>AROUND THE WEB</h2>
        <div class="icons d-flex justify-content-center align-items-center">
          <i class="fa-brands fa-facebook mx-1 icon d-flex justify-content-center align-items-center"></i>
          <i class="fa-brands fa-twitter mx-1 icon d-flex justify-content-center align-items-center"></i>
          <i class="fa-brands fa-linkedin-in mx-1 icon d-flex justify-content-center align-items-center"></i>
          <i class="fa-solid fa-globe mx-1 icon d-flex justify-content-center align-items-center"></i>
        </div>
      </div>
      <div class="col-md-4">
        <h2>ABOUT FREELANCER</h2>
        <p>
          Freelance is a free to use, licensed Bootstrap theme created by Route
        </p>
      </div>
    </div>
  </div>
  <p class="footer py-3 m-0">Copyright © Your Website 2021</p>
</section>
