<section class="gallery">
  <div class="d-flex justify-content-center align-items-center">
    <div class="content text-center">
      <h2 class="sectionName fw-bold">Gallery COMPONENT</h2>
      <div class="d-flex justify-content-center align-items-center my-3">
        <div class="line me-2"></div>
        <i class="fa-solid fa-star"></i>
        <div class="line ms-2"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row g-4">
      @for (item of listImages; track $index) {
      <div class="col-md-4">
        <div class="inner">
          <img [src]="item.src" alt="img {{$index+1}}" class="w-100 rounded-2" />
        </div>
      </div>
      }
    </div>
  </div>
  <div #showLazyData></div>
  @defer (on viewport(showLazyData)) {
    <app-recommend-gallery></app-recommend-gallery>
  }
</section>