<main>
  <div class="d-flex justify-content-center align-items-center">
    <div class="content text-center text-white">
      <figure>
        <img src="assets/avataaars.svg" alt="avatar" class="w-75" />
      </figure>

      <h2 class="sectionName fw-bold">HOME COMPONENT</h2>
      <div class="d-flex justify-content-center align-items-center my-3">
        <div class="line me-2"></div>
        <i class="fa-solid fa-star"></i>
        <div class="line ms-2"></div>
      </div>
      <p>Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </div>
</main>
